.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--bg-color);
}

.betsBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.betsBoard h3 {
    margin: 0;
}

.submitArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkboxLabel {
    font-size: 0.8rem;
    margin: unset;
}

.standingsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.standingsTable th,
.standingsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.standingsTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .standingsTable {
        font-size: 14px;
    }
    td {
        white-space: normal;
    }
}
